* {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: space-around;
}

.dashboard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60vw;
}

.caja-izquierda {
	/* border: 1px solid black;
	border-radius: 20px; */
	padding: 2%;
}

#banco {
	font-size: 40px;
	font-weight: bold;
	color: green;
}

#banco-clicks {
	min-height: 130px;
	border-radius: 20px;
}

#banco-clicks h3 {
	padding: 20px 0px;
	font-weight: 700;
	font-size: 35px;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 20px;
	color: green;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}

#plus-click {
	min-height: 190px;
	min-width: 190px;
	border-radius: 100%;
	margin: 10px;
	font-size: 25px;
	color: green;
	font-weight: bold;
	background-color: lightgrey;
}

#objetos-tienda {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	flex-wrap: wrap;
	overflow-y: auto;
}

.objeto-tienda {
	height: 7vh;
	width: 70vw;
	border-radius: 50px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	background-color: darkgray;
	margin-bottom: 1%;
}

.objeto-tienda h4 {
	color: white;
	font-size: 2vh;
}

.objeto-tienda p {
	color: green;
	font-weight: bold;
}

#tienda {
	height: 40vh;
	width: 80vw;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0.5%;
	background-color: gray;
}
#tienda h3 {
	color: white;
}

button:hover {
	border: 1px solid green;
	cursor: pointer;
}

#suma-multiplicador {
	border-radius: 20px;
	gap: 10px;
	padding: 10px 0px;
	font-weight: bold;
	font-size: 20px;
}
#suma-multiplicador span {
	color: green;
}

@media only screen and (max-width: 550px) {
	h3 {
		font-size: 20px;
	}

	#suma-multiplicador p {
		font-size: 14px;
		padding: 2%;
	}

	#plus-click {
		min-height: 120px;
		min-width: 120px;
		font-size: 26px;
	}
	.dashboard {
		width: 90vw;
	}
}
@media only screen and (max-width: 370px) {
	.objeto-tienda h4 {
		font-size: 15px;
	}
	#banco {
		font-size: 30px;
	}
	#banco-clicks h3 {
		padding: 10px 0px;
	}
	#banco-clicks {
		min-height: 100px;
	}
}
